/* main stylesheet */
/* general information */

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&family=Roboto:wght@400;700&display=swap");
/* Variables */
:root {
  --colorMain: #85b4d7;
  --colorSec: #6ec1e4; /* BUTTONS */
  --colorBg: #fff;
  --colorText: #000;
  --lightGray: rgb(233, 233, 233);
  --fontMain: "Inter", sans-serif;
  --fontSec: "Roboto", sans-serif;
  --sectionSidePadding: 1.2rem;
}

/* general */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--fontMain);
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background: var(--colorBg);
}

img {
  max-width: 100%;
}

/* mobile first */

/* header */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 100;
}

header .logo img {
  max-width: 10rem;
}

header .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.top-bar {
  background-color: var(--colorMain);
  width: 100%;
  padding: 0.5rem 2rem;
  color: #fff;
  font-size: 0.8rem;
}

.top-bar div:nth-of-type(2) {
  display: none;
}

.header-wrapper {
  padding: 1rem 1rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: solid var(--lightGray) 1px;
  background: var(--colorBg);
}

/* menu */

.menu-toggle {
  width: 18px;
  height: 18px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.burger {
  width: 18px;
  height: 1px;
  transition: all 0.5s ease-in-out;
  background: #000;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 1px;
  transition: all 0.5s ease-in-out;
  background: #000;
}

.burger::before {
  transform: translateY(-6px);
}
.burger::after {
  transform: translateY(6px);
}

/* menu animation */

.menu-toggle.open .burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-toggle.open .burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-toggle.open .burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* menu-styling */
header {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--colorBg);
  z-index: 100;
}
header nav {
  width: 100%;
}

header ul {
  list-style: none;
  width: 100%;
}

header ul li {
  margin-left: 0;
  padding: 1rem 1.2rem;
  border-bottom: solid var(--lightGray) 1px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

header ul li a {
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--colorText);
}

header ul li:after {
  display: block;
  height: 16px;
  width: 16px;
  background: url(/assets/img/icons/chevron-right.svg);
  background-position: center;
  background-size: contain;
  content: "";
  right: 0;
  top: 0;
}

.register {
  background: #f3f3f3;
  display: flex;
  justify-content: space-between;
}

.register a {
  transition: all 0.3s ease-in-out;
}

.register a:hover {
  color: rgb(167, 167, 167);
}

.register:after {
  display: none;
}

.register a img {
  height: 18px;
  transition: all 0.3s ease-in-out;
}

.register a img:hover {
  opacity: 0.4;
}
/* searchbar */
.searchbar {
  position: absolute;
  top: -30px;
  left: 0;
  background: var(--colorBg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.2rem;
  border-bottom: solid 1px #f2f2f2;
  overflow: hidden;
  z-index: -1;
  transition: 0.5s ease-in-out;
}

.searchbar input {
  width: 90%;
  border: none;
  font-size: 0.9rem;
  padding: 0.5rem;
  font-family: var(--fontMain);
  display: block;
}

.searchbar input:focus {
  outline: none;
}

.searchbar input::placeholder {
  color: #c0c0c0;
}

.searchbar-close {
  height: 18px;
  transform: rotate(45deg);
  display: block;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.searchbar-close:hover {
  transform: rotate(135deg);
  opacity: 0.5;
}

.searchbar-visible {
  top: 82px;
}
/* basket */
.basket {
  position: absolute;
  top: 0px;
  right: -26rem;
  width: 25rem;
  background: var(--colorBg);
  border-left: solid 1px #f2f2f2;
  height: 100vh;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}

.basket-header {
  padding: 1rem;
  border-bottom: solid 1px #f2f2f2;
  display: flex;
  width: 100%;
  background: var(--colorBg);
  align-items: center;
  justify-content: space-between;
}

.basket h3 {
  font-size: 0.8rem;
  font-weight: 600;
}

.basket-close {
  height: 18px;
  transform: rotate(45deg);
  display: block;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.basket-close:hover {
  transform: rotate(135deg);
  opacity: 0.5;
}

.basket-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;
}

.basket-empty {
  font-size: 0.8rem;
}
.basket-empty h4 {
  font-weight: 400;
  margin-bottom: 0.24rem;
}

.basket-empty p {
  color: #999999;
}

.basket-visible {
  right: 0rem;
}

/*overlay*/

.content-overlay {
  position: absolute;
  top: -100vh;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100vh;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0s ease-in-out 0.5s;
}

.overlay-visible {
  transform: translateY(100vh);
  pointer-events: initial;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.header-menu {
  margin-top: 51px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  z-index: 2;
  left: 0;
  top: 0;
  height: calc(100vh - 53px);
  opacity: 0;
  display: hidden;
  pointer-events: none;
  transition: opacity 0.5s;
}

.header-menu.toggled {
  opacity: 1;
  display: initial;
  pointer-events: initial;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-actions img {
  height: 16px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.header-actions img:hover {
  opacity: 0.4;
}

.action-hidden {
  display: none;
  visibility: hidden;
}

/* footer */

footer {
  background-color: var(--colorMain);
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.7;
  padding: var(--sectionSidePadding);
  padding-top: 6rem;
  padding-bottom: 3rem;
  display: grid;
  gap: 1rem;
}

footer h1 {
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 1rem 0;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.footer-nav ul {
  list-style: none;
  line-height: 2;
}

.footer-nav ul li a {
  transition: 0.5s ease-in-out;
}
.footer-nav ul li a:hover {
  opacity: 0.4;
}

.footer-copy {
  margin-top: 3rem;
  grid-column: 1 / -1;
}
.footer-copy a {
  font-size: 0.7rem;
  cursor: pointer;
  margin-right: 0.3rem;
}

.footer-copy span {
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
  align-items: center;
  width: 100%;
}
.footer-copy span img {
  height: 0.9rem;
  margin-right: 0.3rem;
}

.footer-socials {
  grid-column: 1 / -1;
}

.footer-socials a img {
  height: 0.85rem;
  margin-right: 0.5rem;
  filter: invert(1);
  transition: 0.5s ease-in-out;
}

.footer-socials a img:hover {
  filter: invert(0.3);
}

.footer-newsletter-signup {
}

.footer-newsletter-signup form {
  margin: 1rem 0;
  position: relative;
  display: flex;
  align-items: center;
}

.footer-newsletter-signup form input[type="text"] {
  width: 100%;
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, 0.25);
  border: solid 1px rgb(141, 141, 141);
  color: #f5f5f5;
}
.footer-newsletter-signup form input[type="text"]:focus {
  outline: none;
}

.footer-newsletter-signup form input[type="text"]::placeholder {
  color: #afafaf;
}

.footer-newsletter-signup form input[type="submit"] {
  position: absolute;
  right: 0rem;
  background: none;
  border: none;
  color: #f5f5f5;
  cursor: pointer;
  display: block;
  height: 100%;
  padding: 0.5rem;
  padding-right: 0.75rem;
  font-weight: 400;
  font-size: 0.9rem;
}

/* hero */

.home-hero-wrapper {
  width: 100%;
  height: calc(100vh - 84px);
  margin-top: 84px;
  padding: var(--sectionSidePadding);
  display: flex;
  position: relative;
}

/* productlist */

.home-productlist {
  margin-top: 2rem;
  padding: var(--sectionSidePadding);
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.home-productlist-filters {
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
}

/* product card */
.productlist-card-wrapper {
  display: flex;
  flex-direction: column;
}

.pc-wrapper {
  background-color: #f2f2f2;
  padding: 0rem 0 3rem 0;
  margin: 0.5rem 0;
}

.pc-image {
  filter: contrast(90%);
}
/* product card colors */

.pc-colors {
  padding: 0.5rem 1rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  align-items: center;
}

.pc-color {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.c-lightblue {
  background: #43baff;
}
.c-red {
  background: rgb(235, 13, 13);
}

.c-selected:before {
  position: absolute;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  content: "";
  border: solid #000 1px;
}

/* home sections */

.home-info-section {
  padding: var(--sectionSidePadding);
}

.home-info-section p {
  color: #999999;
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 1.5em;
  font-family: var(--fontSec);
  padding: 1rem 0;
}

.wide-spacing {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 1px;
}

.read-more {
  color: #000;
  text-decoration: none;
  position: relative;
  display: block;
  width: fit-content;
  font-weight: 500;
  font-size: 0.95rem;
}

.read-more::after {
  width: 100%;
  height: 1px;
  content: "";
  display: block;
  position: absolute;
  background: #000;
  transition: opacity 0.2s ease-in-out;
}

.read-more:hover::after {
  opacity: 0.2;
}

/* home info sections hidden on mobile */

.home-info-section-desktop {
  display: none;
  visibility: hidden;
}
